/* 
   Author: Mariana Salinas
   Date: 05/06/24
   File Name: styles.css
 */

 /* CSS Reset */
 body, header, nav, main, footer, img, h1, h2, h2, ul, aside, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body{
  background: #f4e9f3;

 }
img{
  max-width: 100%;
  display: block;
}
.bg-text {
  color: rgb(81, 14, 214);
  font-weight: bold;
  position: sticky;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #12bdd3;
  
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ec66d4;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: rgb(43, 37, 220);
}

/* Style rules for mobile viewport */

/* Style rule show mobile class and hide tab-desk class */
.mobile, .mobile-tablet {
  display: block;
}

.tab-desk, .desktop, #nav-links {
  display: none;
}

/* Style rules for header area */
.mobile h1, .mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
  font-family: 'Emblema One', cursive;
  margin: 2% 0 0 3%;
}

.mobile h3 {
  font-family: 'Lora', serif;
}

/* Style rules for navigation area */
nav {
  background-color: #e27ab7;
}

.mobile-nav a {
  color: #fff;
  text-align: center;  
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.nav-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #6f64ec;
  padding: 2%;
}

.nav-icon div {
  height: 40px;
  width: 40px;
  color: #2a1f14;
}

/* Style rules for main content */
main {
  padding: 2%;
  font-family: 'Lora', serif;
}

main p {
  font-size: 1.00em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}

.link {
  color: #4d3319;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}

.action {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

.round {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

aside {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  text-shadow: 4px 4px 10px #e388bb;
 
}

figure {
  max-width : 400px;
  margin : 2% auto;
  border : #e91baf solid 4px;
}
  
figcaption {
  padding: 2%;
  border-top: 4px solid #e27ab7;
  bottom: 0;
  color: #050505;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
 }
 
#info ul {
  margin-left: 10%;
}

#contact, #form h2 {
  text-align: center;
}

.tel-link {
  background-color: #e27ab7;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #eeedf1;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}
#contact .email-link {
  color: #3a1eda;
  text-decoration: none;
  font-weight: 700;
 }
 
/* Style rules for form elements */
fieldset, input { 
  margin-bottom: 3%;
}
fieldset legend {
  width: 200%;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 1%;
}

form #submit {
  margin: 0 auto;
  display: block;
  padding: 1%;
  background-color: #1732ddd0;
  color: #eeedf1;
  font-size: 1.25em;
  border-radius: 4%;
  
}

/* Style rules for footer content */
footer {
  text-align: center;
  clear: left; 
  font-size: 0.85em;
  background-color: #e70c8c22;
  color: #6141c1;
  padding: 2% 0;
 }

footer a {
  color: #6141c1;
  text-decoration: none;
}
.social img {
  display: inline-block;
  padding: 2%
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
      display: block;
  }

  .mobile, .mobile-nav {
      display: none;
  }
  
  /* Tablet Viewport: Style rules for nav area */
  nav ul {
      list-style-type: none;
      text-align: center;
  }
  
  nav li {
      border-top: none;
      display: inline-block;
      font-size: 1.5em;
      font-family: Geneva, Arial, sans-serif;
      font-weight: 700;
      border-right: 2px solid #190be4;
  }
  nav li:last-child{
    border-right: none;
  }
  
  nav li a {
      padding: 0.25em 0.5em;
      display: block;
      color: #f8f7fc;
      text-decoration: none;
      text-align: center;
  }
  
  .grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
  }
  
  aside {
      grid-column: 1 / span 2;
  }
  
  /* Tablet Viewport: Style rule for form element */
  form {
      width: 70%;
      margin: 0 auto;
  }
  footer{
      overflow: auto;
  }
  .copyright{
      float: left;
      width: 65%;
  }
  .social{
      float: left;
      width: 25%;
  }
  
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  
  /* Desktop Viewport: Show desktop class, hide mobile-tablet class */
  .desktop {
      display: block;
  }
  
  .mobile-tablet {
      display: none;
  }
  
  /* Desktop Viewport: Style rules for nav area */
  nav li {
      font-size: 1.5em;
  }
  
  nav li a {
      padding: 0.5em 1.5em;
  }
  
  nav li a:hover {
      color: #427edf;
      background-color: #e27ab7;
      opacity: 0.5;
      
  }
  
  /* Desktop Viewport: Style rules for main content */
  #info ul {
      margin-left: 5%;
  }
  main h3{
    font-size: 1.5em;
  }
  
  .grid {
      grid-template-columns: auto auto auto;
      grid-gap: 30px;
  }
  figcaption{
    font-size: 1em;
  }
  
  aside {
      grid-column: 1 / span 4;
      font-size: 2em;
  }
  /* Style rules for table */
  table {
    border: 1px solid #e312a1;
    border-collapse: collapse;
    margin: 0 auto;
}

caption {
    font-size: 1.5em;
    font-weight: 700;
    padding: 1%;
}

th, td {
    border: 1px solid #e33aad;
    padding: 1%;
}

th {
    background-color: #e27ab7;
    color: #fff;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #efe6de;
}
  /* Desktop Viewport: Style rules for form elements */
  form {
      width: auto;
  }
  
  .form-grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px; 
  }
  
  .btn {
      grid-column: 1 / span 2;
  }
  
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
  
  body {
      background: linear-gradient(#fff, #e27ab7);
  }
  
  #wrapper {
      width: 1920px;
      margin: 0 auto;
  }
      
  main {
      background-color: #e67ad9;
  }
  
  .grid {
      grid-template-columns: auto auto auto;
  }
  
  aside {
      grid-column: 1 / span 3;
      font-size: 3em;
  }
  
}

/* Media Query for Print */
@media print {
  
  body {
      background-color: #d679bc;
      color: #000;
  }
  
}
